@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
table {
  border-collapse: collapse;
  width: 100%;
  font-weight: 500;
}

table td {
  border: 1px solid #ddd;
  padding: 8px;
  font: 900;
}

table th {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 8px;

}

table tr:nth-child(even) {
  background-color: #f2f2f2;
  font: 600;
}

table tr:hover {
  background-color: #ddd;
  font: 600;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font: 600;
}
.mobile{
  display: none;
}
@media screen and (max-width: 800px) {
  table td{
    display: flex;
    width: 100%;
  }
  table thead{
    display: none;
  }
  table tr{
    width: 100%;
    display: block;
    margin-bottom: 0.8rem;
  }

  /* first td in tr */
  table tr td:nth-child(1){
    text-align: left;
    background-color: black;
    color: white;
  }

  table tr td{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .mobile{
    display: block;
  }
}
table td{
  word-break: break-all;

}
.gradient {
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  position: relative;
  border-width: 10px 0 0;
  border-top-style: solid;
}


table th:nth-child(1) {
  width: 5%; /* Adjust the width as needed */
}

table th:nth-child(2) {
  width: 20%; /* Adjust the width as needed */
}

table th:nth-child(3) {
  width: 15%; /* Adjust the width as needed */
}
table th:nth-child(4) {
  width: 30%; /* Adjust the width as needed */
}
table th:nth-child(5) {
  width: 50%; /* Adjust the width as needed */
}

.gradient {
  border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  position: relative;
  border-width: 10px 0 0;
  border-top-style: solid;
}
